@{
    ViewData["Title"] = "Контакты";
}

<div class="head-image"></div>
<h1 class="mt-4"><span class="text-darkblue">Email:</span> romaXXX2012@rambler.ru</h1>
<div class="d-flex mt-4">
    <h2 class="mb-5 text-darkblue">Телефоны: &nbsp;&nbsp;</h2>
    <div>
        <h2>+7 XXX XXX XX XX</h2>
        <h2>+7 XXX XXX XX XX</h2>
    </div>
</div>
    <h1 class="text-center text-info mt-4 mb-3 we-are-here">Мы находимся здесь:</h1>
    <div class="d-flex justify-content-center">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A359b19a50ca9d6c6bf82d3a6d5ae67eca708a69c07808ed0e7e152ff5e510351&amp;width=411&amp;height=417&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
