@{
    ViewData["Title"] = "Доставка";
}
<div class="head-image"></div>
<p class="text-center display-4">Пока доступен только способ оплаты банковским переводом или при получении товара<br /><br />
    Способ и детали доставки оговариваются в переписке по E-mail при подтверждении заказа</p>
