<div class="head-image"></div>
<h1 class="text-center display-4">Спасибо за заказ. Мы свяжимся с вами по E-mail в ближайшее время, чтобы уточнить вопросы доставки и оплаты</h1>
<a asp-action="Index" class="text-center order-confirmed-link">Перейти на главную страницу</a>