@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<div class="head-image"></div>
<h1 class="text-center display-3">@ViewData["Title"]</h1>
<hr />
<p class="text-center display-4">Мы не запрашиваем личных данных при регистрации на сайте, таких как адреса, номера телефонов и т.д., данные необходимые для доставки уточняются по<br/>E-mail при потверждении заказа</p>