@model MyInternetShop.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Забыли пароль?";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<a class="adm-link orders-back-link" asp-action="Login">< Назад</a>
<form asp-controller="Account" asp-action="ForgotPassword" method="post" class="center col-4">
    <h4 class="text-center">Введите email.</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-12">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </div>
</form>
@await Html.PartialAsync("_ValidationScriptsPartial")
